@charset "utf-8";

/* font.css */

/* 
웹폰트로 변환해서 사용하세요 
03 CSS\03_텍스트\폰트변환 폴더 확인하세요
*/

@font-face {
    font-family: 'suit';
    src: url(../font/SUIT-otf/SUIT-Regular.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'loves';
    src: url(../font/loves/LOVES.ttf) format('opentype');
  }
  
  @font-face {
    font-family: 'wensley';
    src: url(../font/Wensley/WensleyDemo.ttf) format('opentype');
  }
  
  @font-face {
    font-family: 'nanum-mj';
    src: url(../font/nanum-myeongjo/NanumMyeongjo.otf) format('opentype');
  }