@charset "utf-8";

/* reset.css */
/* 초기화 및 공통으로 사용할 css */

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
    /* normal의 크기는 400 */
}


/* 공통으로 사용할 클래스! */
.clear::after {
    content: "";
    display: block;
    clear: both;
}